In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Housing.csv')

In [3]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [12]:
data['price'].unique()

array([13300000, 12250000, 12215000, 11410000, 10850000, 10150000,
        9870000,  9800000,  9681000,  9310000,  9240000,  9100000,
        8960000,  8890000,  8855000,  8750000,  8680000,  8645000,
        8575000,  8540000,  8463000,  8400000,  8295000,  8190000,
        8120000,  8080940,  8043000,  7980000,  7962500,  7910000,
        7875000,  7840000,  7700000,  7560000,  7525000,  7490000,
        7455000,  7420000,  7350000,  7343000,  7245000,  7210000,
        7140000,  7070000,  7035000,  7000000,  6930000,  6895000,
        6860000,  6790000,  6755000,  6720000,  6685000,  6650000,
        6629000,  6615000,  6580000,  6510000,  6475000,  6440000,
        6419000,  6405000,  6300000,  6293000,  6265000,  6230000,
        6195000,  6160000,  6125000,  6107500,  6090000,  6083000,
        6020000,  5950000,  5943000,  5880000,  5873000,  5866000,
        5810000,  5803000,  5775000,  5740000,  5652500,  5600000,
        5565000,  5530000,  5523000,  5495000,  5460000,  5425000,
        5390000,  5383000,  5320000,  5285000,  5250000,  5243000,
        5229000,  5215000,  5145000,  5110000,  5075000,  5040000,
        5033000,  5005000,  4970000,  4956000,  4935000,  4907000,
        4900000,  4893000,  4865000,  4830000,  4795000,  4767000,
        4760000,  4753000,  4690000,  4655000,  4620000,  4613000,
        4585000,  4550000,  4543000,  4515000,  4480000,  4473000,
        4445000,  4410000,  4403000,  4382000,  4375000,  4340000,
        4319000,  4305000,  4277000,  4270000,  4235000,  4200000,
        4193000,  4165000,  4130000,  4123000,  4098500,  4095000,
        4060000,  4025000,  4007500,  3990000,  3920000,  3885000,
        3850000,  3836000,  3815000,  3780000,  3773000,  3745000,
        3710000,  3703000,  3675000,  3640000,  3633000,  3605000,
        3570000,  3535000,  3500000,  3493000,  3465000,  3430000,
        3423000,  3395000,  3360000,  3353000,  3332000,  3325000,
        3290000,  3255000,  3234000,  3220000,  3150000,  3143000,
        3129000,  3118850,  3115000,  3087000,  3080000,  3045000,
        3010000,  3003000,  2975000,  2961000,  2940000,  2870000,
        2852500,  2835000,  2800000,  2730000,  2695000,  2660000,
        2653000,  2604000,  2590000,  2520000,  2485000,  2450000,
        2408000,  2380000,  2345000,  2310000,  2275000,  2240000,
        2233000,  2135000,  2100000,  1960000,  1890000,  1855000,
        1820000,  1767150,  1750000], dtype=int64)

In [25]:
import numpy as np

In [16]:
categorical_cols = ['mainroad', 'guestroom', 'basement', 'hotwaterheating','airconditioning','prefarea'] 
from sklearn.preprocessing import LabelEncoder
# instantiate labelencoder object
le = LabelEncoder()
# apply le on categorical feature columns
data[categorical_cols] = data[categorical_cols].apply(lambda col: le.fit_transform(col))

In [17]:
data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,furnished
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,furnished
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,semi-furnished
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,furnished
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,unfurnished
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,semi-furnished
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,unfurnished
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,furnished
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,unfurnished

In [32]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['furnishingstatus'])
print(one_hot_encoded_data)

        price  area  bedrooms  bathrooms  stories  mainroad  guestroom  \
0    13300000  7420         4          2        3         1          0
1    12250000  8960         4          4        4         1          0
2    12250000  9960         3          2        2         1          0
3    12215000  7500         4          2        2         1          0
4    11410000  7420         4          1        2         1          1
..        ...   ...       ...        ...      ...       ...        ...
540   1820000  3000         2          1        1         1          0
541   1767150  2400         3          1        1         0          0
542   1750000  3620         2          1        1         1          0
543   1750000  2910         3          1        1         0          0
544   1750000  3850         3          1        2         1          0

     basement  hotwaterheating  airconditioning  parking  prefarea  \
0           0                0                1        2         1
1           0                0                1        3         0
2           1                0                0        2         1
3           1                0                1        3         1
4           1                0                1        2         0
..        ...              ...              ...      ...       ...
540         1                0                0        2         0
541         0                0                0        0         0
542         0                0                0        0         0
543         0                0                0        0         0
544         0                0                0        0         0

     furnishingstatus_furnished  furnishingstatus_semi-furnished  \
0                             1                                0
1                             1                                0
2                             0                                1
3                             1                                0
4                             1                                0
..                          ...                              ...
540                           0                                0
541                           0                                1
542                           0                                0
543                           1                                0
544                           0                                0

     furnishingstatus_unfurnished
0                               0
1                               0
2                               0
3                               0
4                               0
..                            ...
540                             1
541                             0
542                             1
543                             0
544                             1

[545 rows x 15 columns]

In [34]:
one_hot_encoded_data

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus_furnished,furnishingstatus_semi-furnished,furnishingstatus_unfurnished
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,1,0,0
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,1,0,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,0,1,0
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,1,0,0
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,1,0,1,0,0,2,0,0,0,1
541,1767150,2400,3,1,1,0,0,0,0,0,0,0,0,1,0
542,1750000,3620,2,1,1,1,0,0,0,0,0,0,0,0,1
543,1750000,2910,3,1,1,0,0,0,0,0,0,0,1,0,0
544,1750000,3850,3,1,2,1,0,0,0,0,0,0,0,0,1

In [52]:
X = one_hot_encoded_data.iloc[:,1:].values
y = one_hot_encoded_data['price'].values

In [53]:
print(X)

[[7420    4    2 ...    1    0    0]
 [8960    4    4 ...    1    0    0]
 [9960    3    2 ...    0    1    0]
 ...
 [3620    2    1 ...    0    0    1]
 [2910    3    1 ...    1    0    0]
 [3850    3    1 ...    0    0    1]]

In [54]:
print(y)

[13300000 12250000 12250000 12215000 11410000 10850000 10150000 10150000
  9870000  9800000  9800000  9681000  9310000  9240000  9240000  9100000
  9100000  8960000  8890000  8855000  8750000  8680000  8645000  8645000
  8575000  8540000  8463000  8400000  8400000  8400000  8400000  8400000
  8295000  8190000  8120000  8080940  8043000  7980000  7962500  7910000
  7875000  7840000  7700000  7700000  7560000  7560000  7525000  7490000
  7455000  7420000  7420000  7420000  7350000  7350000  7350000  7350000
  7343000  7245000  7210000  7210000  7140000  7070000  7070000  7035000
  7000000  6930000  6930000  6895000  6860000  6790000  6790000  6755000
  6720000  6685000  6650000  6650000  6650000  6650000  6650000  6650000
  6629000  6615000  6615000  6580000  6510000  6510000  6510000  6475000
  6475000  6440000  6440000  6419000  6405000  6300000  6300000  6300000
  6300000  6300000  6293000  6265000  6230000  6230000  6195000  6195000
  6195000  6160000  6160000  6125000  6107500  6090000  6090000  6090000
  6083000  6083000  6020000  6020000  6020000  5950000  5950000  5950000
  5950000  5950000  5950000  5950000  5950000  5943000  5880000  5880000
  5873000  5873000  5866000  5810000  5810000  5810000  5803000  5775000
  5740000  5740000  5740000  5740000  5740000  5652500  5600000  5600000
  5600000  5600000  5600000  5600000  5600000  5600000  5600000  5565000
  5565000  5530000  5530000  5530000  5523000  5495000  5495000  5460000
  5460000  5460000  5460000  5425000  5390000  5383000  5320000  5285000
  5250000  5250000  5250000  5250000  5250000  5250000  5250000  5250000
  5250000  5243000  5229000  5215000  5215000  5215000  5145000  5145000
  5110000  5110000  5110000  5110000  5075000  5040000  5040000  5040000
  5040000  5033000  5005000  4970000  4970000  4956000  4935000  4907000
  4900000  4900000  4900000  4900000  4900000  4900000  4900000  4900000
  4900000  4900000  4900000  4900000  4893000  4893000  4865000  4830000
  4830000  4830000  4830000  4795000  4795000  4767000  4760000  4760000
  4760000  4753000  4690000  4690000  4690000  4690000  4690000  4690000
  4655000  4620000  4620000  4620000  4620000  4620000  4613000  4585000
  4585000  4550000  4550000  4550000  4550000  4550000  4550000  4550000
  4543000  4543000  4515000  4515000  4515000  4515000  4480000  4480000
  4480000  4480000  4480000  4473000  4473000  4473000  4445000  4410000
  4410000  4403000  4403000  4403000  4382000  4375000  4340000  4340000
  4340000  4340000  4340000  4319000  4305000  4305000  4277000  4270000
  4270000  4270000  4270000  4270000  4270000  4235000  4235000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4200000  4200000  4200000  4200000  4200000  4200000  4200000  4200000
  4193000  4193000  4165000  4165000  4165000  4130000  4130000  4123000
  4098500  4095000  4095000  4095000  4060000  4060000  4060000  4060000
  4060000  4025000  4025000  4025000  4007500  4007500  3990000  3990000
  3990000  3990000  3990000  3920000  3920000  3920000  3920000  3920000
  3920000  3920000  3885000  3885000  3850000  3850000  3850000  3850000
  3850000  3850000  3850000  3836000  3815000  3780000  3780000  3780000
  3780000  3780000  3780000  3773000  3773000  3773000  3745000  3710000
  3710000  3710000  3710000  3710000  3703000  3703000  3675000  3675000
  3675000  3675000  3640000  3640000  3640000  3640000  3640000  3640000
  3640000  3640000  3640000  3633000  3605000  3605000  3570000  3570000
  3570000  3570000  3535000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3500000  3500000  3500000  3500000
  3500000  3500000  3500000  3500000  3493000  3465000  3465000  3465000
  3430000  3430000  3430000  3430000  3430000  3430000  3423000  3395000
  3395000  3395000  3360000  3360000  3360000  3360000  3360000  3360000
  3360000  3360000  3353000  3332000  3325000  3325000  3290000  3290000
  3290000  3290000  3290000  3290000  3290000  3290000  3255000  3255000
  3234000  3220000  3220000  3220000  3220000  3150000  3150000  3150000
  3150000  3150000  3150000  3150000  3150000  3150000  3143000  3129000
  3118850  3115000  3115000  3115000  3087000  3080000  3080000  3080000
  3080000  3045000  3010000  3010000  3010000  3010000  3010000  3010000
  3010000  3003000  2975000  2961000  2940000  2940000  2940000  2940000
  2940000  2940000  2940000  2940000  2870000  2870000  2870000  2870000
  2852500  2835000  2835000  2835000  2800000  2800000  2730000  2730000
  2695000  2660000  2660000  2660000  2660000  2660000  2660000  2660000
  2653000  2653000  2604000  2590000  2590000  2590000  2520000  2520000
  2520000  2485000  2485000  2450000  2450000  2450000  2450000  2450000
  2450000  2408000  2380000  2380000  2380000  2345000  2310000  2275000
  2275000  2275000  2240000  2233000  2135000  2100000  2100000  2100000
  1960000  1890000  1890000  1855000  1820000  1767150  1750000  1750000
  1750000]

In [55]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1)

In [74]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [76]:
y_pred = regressor.predict(X_test)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[ 6305417.68  7070000.  ]
 [ 6213853.22  4550000.  ]
 [ 6552975.35  5600000.  ]
 [ 5461129.55  6125000.  ]
 [ 4250945.1   2940000.  ]
 [ 2960943.73  3780000.  ]
 [ 2724161.83  2450000.  ]
 [ 7364540.81  7490000.  ]
 [ 2399155.61  2940000.  ]
 [ 4549456.15  6440000.  ]
 [ 3748550.29  2800000.  ]
 [ 3595286.44  3325000.  ]
 [ 4680228.02  5810000.  ]
 [ 4735410.65  5950000.  ]
 [ 5260666.36  6895000.  ]
 [ 7932596.98 13300000.  ]
 [ 4320848.88  3640000.  ]
 [ 3524363.53  2870000.  ]
 [ 6780229.25  5460000.  ]
 [ 2658354.28  1890000.  ]
 [ 4602977.9   3780000.  ]
 [ 5288794.97  5600000.  ]
 [ 5213197.54  2660000.  ]
 [ 3500380.27  3640000.  ]
 [ 5308434.32  2590000.  ]
 [ 6960288.57  5250000.  ]
 [ 2767308.13  2450000.  ]
 [ 7315992.64  6930000.  ]
 [ 7617590.54  9800000.  ]
 [ 4365295.17  3430000.  ]
 [ 7562556.31  7840000.  ]
 [ 6587921.27  5950000.  ]
 [ 4958237.4   3430000.  ]
 [ 4499776.7   2940000.  ]
 [ 6041408.41  6090000.  ]
 [ 4685509.37  4620000.  ]
 [ 6477135.32  4543000.  ]
 [ 3370770.15  3220000.  ]
 [ 5088223.92  5810000.  ]
 [ 5676952.91  4760000.  ]
 [ 4019252.9   3360000.  ]
 [ 3350917.4   2940000.  ]
 [ 3618702.95  2450000.  ]
 [ 4628107.36  4382000.  ]
 [ 6305454.95  8120000.  ]
 [ 3304122.11  4865000.  ]
 [ 4818860.27  4200000.  ]
 [ 2672944.72  4200000.  ]
 [ 2640890.13  3290000.  ]
 [ 3287745.93  3115000.  ]
 [ 5005467.79  5215000.  ]
 [ 4454149.29  4473000.  ]
 [ 2623375.3   3115000.  ]
 [ 3225053.96  4060000.  ]
 [ 5089238.67  4753000.  ]
 [ 4355360.41  4620000.  ]
 [ 3311904.89  2961000.  ]
 [ 4114341.83  4403000.  ]
 [ 3611518.09  4550000.  ]
 [ 4767990.21  3920000.  ]
 [ 6492047.39  5775000.  ]
 [ 6525228.81  8400000.  ]
 [ 2656241.45  3570000.  ]
 [ 4178456.85  4165000.  ]
 [ 4353437.05  4620000.  ]
 [ 2059495.39  2604000.  ]
 [ 4280963.29  4123000.  ]
 [ 3178590.55  2100000.  ]
 [ 4555839.85  2380000.  ]
 [ 4520857.11  4830000.  ]
 [ 5642248.49  3395000.  ]
 [ 5234597.5   5040000.  ]
 [ 5539693.87  5250000.  ]
 [ 2646851.12  2590000.  ]
 [ 4628577.09  6860000.  ]
 [ 4041384.84  3850000.  ]
 [ 3509822.4   1820000.  ]
 [ 6612537.57 11410000.  ]
 [ 6132714.41  5950000.  ]
 [ 3529809.22  3745000.  ]
 [ 4590172.4   3640000.  ]
 [ 4013836.85  4515000.  ]
 [ 6779454.67  8855000.  ]
 [ 6182843.76  5383000.  ]
 [ 6308286.1   5460000.  ]
 [ 5526200.14  3990000.  ]
 [ 3569403.72  5110000.  ]
 [ 2548252.66  2310000.  ]
 [ 6223584.62  6650000.  ]
 [ 3838120.    3633000.  ]
 [ 3011456.72  3325000.  ]
 [ 5021587.51  4200000.  ]
 [ 2549433.65  2660000.  ]
 [ 7127355.28  7700000.  ]
 [ 2966122.35  2940000.  ]
 [ 5022193.32  5250000.  ]
 [ 8321985.09 10850000.  ]
 [ 3533801.02  3290000.  ]
 [ 4842087.62  5600000.  ]
 [ 5961806.96  3570000.  ]
 [ 3019633.29  3850000.  ]
 [ 7990526.4   8960000.  ]
 [ 4417457.35  3703000.  ]
 [ 3634704.69  3500000.  ]
 [ 4718713.94  4900000.  ]
 [ 6925181.2   6405000.  ]
 [ 6963166.64  6930000.  ]
 [ 4276064.45  4270000.  ]
 [ 5394112.9   5110000.  ]]

In [77]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.6221280430074472